a {
    text-decoration: none;
    color: #a6a6a6;
    padding: .5em .5em;
    margin: 1em .5em;   
}

a:hover {
    text-decoration: none;
    color: #808080;
}


body {
	font-family: Helvetica Neue, Helvetica, arial, freesans, clean, sans-serif;
}
#nav {
    clear: both;
    text-align: left;
    font: 12pt/1.5 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    padding-left: 10px;
    display: inline-block;
 }

.header {
	text-align: center;
	color: #737373;
}
